/* Add some styling to the calculator */
#calculator {
  width: 80%;
  height: 80%;
}

@media only screen and (min-width: 768px) {
  #calculator {
    width: 30%;
    height: 70%;
  }
}

#display {
  width: 100%;
  font-size: 2em;
  padding: 10px;
  background-color: #f4f4f4;
  border: none;
  text-align: right;
}

button {
  width: 25%;
  padding: 20px;
  font-size: 1.5em;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:active {
  background-color: #ddd;
}

button.operator {
  background-color: #f9c153;
  color: #fff;
}
